---
import Navbar from '../../components/Navbar.astro';
import "../../styles/global.css";
---

  <header class="py-4">
    <Navbar />
  </header>
  
  <div class="m-4 p-4">
      <ul class="m-4 list-decimal">
          <li>peano axioms</li>
          <li>torrent client</li>
        </ul>
    </div>
