---
import Layout from '../layouts/BaseLayout.astro';
import Navbar from '../components/Navbar.astro';
import "../styles/global.css";
---

<Layout title="ali">
  <header class="py-4">
    <Navbar />
  </header>
  <!-- <hr class="max-w-4xl mx-auto px-4"> -->

  <main class="py-10 px-4 max-w-3xl mx-auto space-y-6">
    <img src="/pp.jpg" alt="profile picture" class="w-24 h-24 rounded-full object-cover" />
    <p class="text-lg leading-relaxed">
      i'm ali and i am really a dumb guy, and i mean it. i am interested in all sorts of
      things, from low-level stuff to design. i really like the intersection of
      math, computation, and compilers, and i want to make a living out of it. other than
      that i love playing games like terraria and turing complete.
    </p>
    <button><a href="https://nekoweb.org/"><img src="https://nekoweb.org/assets/buttons/button3.gif"></a></button>
  </main>
</Layout>
