<!-- src/components/Navbar.astro -->
<nav class="flex flex-col items-center space-y-2 sm:flex-row sm:justify-between sm:space-y-0 max-w-4xl mx-auto px-4">
    <p class="text-2xl"> <a href="/">@brown</a> </p>
    <ul class="flex gap-4 text-base font-medium">
      <li><a href="#craft" class="hover:underline">craft</a></li>
      <li><a href="/blog" class="hover:underline">blog</a></li>
      <li><a href="/notes" class="hover:underline">notes</a></li>
      <li><a href="https://buymeacoffee.com/baesicallyali" target="_blank" rel="noopener noreferrer" class="hover:underline">buymeacoffee</a></li>
    </ul>
  </nav>
  <hr class="max-w-4xl mx-auto px-4 m-4">
  